// head样式

.heading {

    .text {
        font-size: 12px;
        font-weight: 400;
        line-height: 2.4em;
    }

    .h1 {
        font-size: 24px;
        line-height: 2em;
        font-weight: 600;
        min-width: 100px;
    }

    .h2 {
        font-size: 20px;
        line-height: 2em;
        font-weight: 600;
        min-width: 100px;
    }

    .h3 {
        font-size: 18px;
        line-height: 2em;
        font-weight: 600;
        min-width: 100px;
    }

    .h4 {
        font-size: 16px;
        line-height: 2em;
        font-weight: 600;
        min-width: 100px;
    }

    .h5 {
        font-size: 14px;
        line-height: 2em;
        font-weight: 600;
        min-width: 100px;
    }

    .h6 {
        font-size: 12px;
        line-height: 2em;
        font-weight: 600;
        min-width: 100px;
    }
}